@(header: String)

@main("Welcome to Playy") {

    <h1>@header</h1>

    Aplikacja w Play wystawiajaca JSONy zjadane przez aplikacje Angular2.

    <h1>JSONy</h1>
    <ul>
        <li><a href="/">Ta strona</a></li>
        <li><a href="/products">GET all Products</a></li>
        <li><a href="/products/new">POST new Product</a></li>
        <li><a href="/products/1">GET by id</a></li>
        <li><a href="/products/category/2">GET by category</a></li>
        <li><a href="/"></a></li>
        <li><a href="/"></a></li>
        <li><a href="/"></a></li>
        <li><a href="/"></a></li>
        <li><a href="/"></a></li>
        <li><a href="/"></a></li>
    </ul>

    (at)play20.welcome(message)

}
